# IPython
ipython_config.py

# Conda env vscode
**/env
!.env
.env
.vscode/

# Jupyter Notebook/Python/Databricks metadata
**/.ipynb_checkpoints/
**/spark-warehouse/
**/__pycache__/
**/.empty
# *.ipynb
# *.parquet

# Data
# *.csv
# *.json

# Keep .gitkeep files
!**/.gitkeep

*.DS_Store